.Home {
    height: 100%;
    position: relative;
    flex: 6;
    background: #2b2f55;
}

.Home::after {
    content: "";
    position: absolute;
    bottom: 12%;
    height: 1px;
    background-color: white;
    left: 50%;
    right: 0;
    width: 82%;
    transform: translate(-50%, 0);
    opacity: .1;
}

.HomeSection {
    height: 100%;
    float: left;
    width: 50%; 
}

.HomeLeftContainer {
    padding: 4vw 5vw;
    height: 100%;
    box-sizing: border-box;
}

.HomeLeftContainer h1 {
    margin-bottom: 3vw;
    font-weight: 600;
}

.HomeLeftContent {
    padding: 2vw 2vw 2vw 4vw;
}

.HomeLeftContent h3 {
    margin-bottom: 1.3vw;
    font-size: 1.1vw;
    font-weight: 300;
}

.HomeLeftContent h2 {
    font-weight: 600;
    font-size: 5vw;
    margin-bottom: 3.3vw;
}

.HomeLeftContent p {
    margin-bottom: 3.6vw;
    line-height: 1.6em;
    font-weight: 100;
    width: 65%;
    font-size: 1.6vmin;
}

.learnMore {
    border: 1px solid white;
    font-size: .9vw;
    padding: .75vw 1.9vw;
}

